
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family: cursive;
  font-weight: 400px;
  font-style: normal;
  
}
/* .shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
} */

